<%- include('../../partils/header')%>
<body>
    <%- include('../../partils/navbar')%>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/save">
                    <label>Título</label>
                    <input class="form-control" type="text" name="title" placeholder="Informe o título do artigo">
                    <br>
                    <label>Categoria</label>
                    <select name="IDListCategory" class="form-control">
                        <% category.forEach((category) => {%>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% })%>
                    </select>
                    <br>
                    <textarea class="form-control" placeholder="Demonstre tua imagição e teu conhecimento aqui" name="body" id="bodytextarea"></textarea>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>   
<%- include('../../partils/footer')%> 
<script src="/tinymce/tinymce.min.js"></script>
<script>
    //Doment: https://www.tiny.cloud/docs/tinymce/6/
    tinymce.init({
        language: 'pt_BR',
        selector: "#bodytextarea",
        plugins: 'advlist autolink link image lists print preview hr searchreplace'+
        'wordcount help fullscreen insertdatetime media save table paste emoticons',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough' + 
        ' | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography' + 
        ' | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
    });
</script>