<%- include('partils/header.ejs')%>
<body>
    <%- include('partils/navbarhome.ejs')%>
    <div class="container"> 
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Blog de estudos</p>
        </div>
        <hr>
        <% article.forEach(article => {%>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-secondary">Ler artigo</a>
                </div>
            </div>    
            <br>
        <% }) %>
        <div class="row">
            <div class="col col-12">
                <a style="float: right;" href="/articles/page/2">Next >> </a>
            </div>
        </div>
        <br>
    </div>
    <br>
</body>
<%- include('partils/footer.ejs')%>